/* RESEAT   */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

                    /*  HEADER  */
header{
    background-color: rgb(209, 27, 88);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    
}
.header__logo img{
    width: 60px;

}
.header__nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: black;
    transition: .5s;
}
.header__nav ul li{
    padding: 0px 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.header__nav ul li a{
    border: 2px solid black;
    font-size: 20;
    color: black;
    text-decoration:none ;
}
.header__nav li:hover{
    transform: scale(1.2);
}
.header__nav li:hover a{
    color: blueviolet;
}

/*  MAIN-HOME   */
.producto0{
    background-color: rgb(238, 124, 82);
    display: flex;
    align-items: center;
    justify-content: center
}
.producto1{
    background-color: rgb(97, 168, 196);
    padding: 0px 20px;
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}
.producto1 img{
    width: 100%;
    border-radius: 8px;
}
    
.producto2{
    background-color: rgb(97, 168, 196);
    padding: 0px 20px;
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}
.producto2 img{
    width: 100%;
    border-radius: 8px;
}
.producto3{
    background-color: rgb(97, 168, 196);
    padding: 0px 20px;
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}
.producto3 img{
    width: 100%;
    border-radius: 8px;
}

                    /*  FOOTER   */
.redessociales{
    padding: 40px;
    background-color: rgb(209, 27, 88);
    display: flex;
    align-items: center;
    justify-content: center
}
.instagram img{
    width: 30%;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center
}
.facebook img{
    width: 30%;
}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center
}
.wsp img{
    width: 50%;
}
.wsp{
    display: flex;
    align-items: center;
    justify-content: center
}

/*PAGINA PRODUCTOS*/
.productos{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 124, 82);
}
.titulo_principal{
    font-size: 70px;
    color: black;
    text-align: center;
}
.contenedor{
    width: 100%;
    margin: auto;
    
}
img{
    width: 100%;
}
.persona__columna{
    margin: 5px;
    background-color: rgb(97, 168, 196);
    width: 100%;
    padding: 0px 20px;
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 8px;
}
.personas .contenedor{
    display: grid;
}
@media(min-width:570px){
    .personas .contenedor{
        grid-template-columns: repeat(2,50%);
    }
}
@media(min-width:728px){
    .personas .contenedor{
        grid-template-columns: repeat(3,33.3%);
    }
}
@media(min-width:1024px){
    .personas .contenedor{
        grid-template-columns: repeat(4,25%);
    }
    .contenedor{
        width: 1024px;
    }
}
@media(min-width:1700px){
    .contenedor{
        width: 1200px;
    }
}

/*PAGINA CONTACTO*/
.contenido{
    background-color: rgb(238, 124, 82);
    padding:0 1.5em ;

}
.titulo{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.contenido-contacto{
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 8px;
    background-color: rgb(97, 168, 196);

}
.contenido-contacto > * {
    padding: 1em;
}
.form-contacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 1em;
}
.form-contacto form .separado{
    grid-column: 1 / 3;

}

.contenido-contacto form button,
.contenido-contacto form input,
.contenido-contacto form textarea {
    width: 100%;
    padding: .7em;

}
.contenido-contacto form button{
    background: rgb(209, 27, 88);
    transition: .5s;
    cursor: pointer;
}

.info-contacto h4,
.info-contacto ul,
.info-contacto p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.info-contacto ul{
    list-style: none;
    padding: 0;

}

@media (min-width: 700px) {
    .contenido{
        padding: 0 4rem;
    }
    .contenido-contacto{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

}

/*PAGINA PREGUNTAS FRECUENTES*/
.titulo{
    background-color: rgb(238, 124, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.PF p{
    background-color: rgb(238, 124, 82);
    display: flex;
    background-image: url(../Img/Logo.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
    background-position: center;
}
.preg{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
.resp{
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

/*PAGINA SERVICIOS*/
.Caratula{
    background-color: rgb(238, 124, 82);
}
.Serv{
    background-color: rgb(238, 124, 82);
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro{
    background-color: rgb(238, 124, 82);
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
.intro2{
    background-color: rgb(238, 124, 82);
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
.Cartaserv li{
    background-color: rgb(97, 168, 196);
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    border: 2px solid rgb(0, 0, 0) ;
    padding: 3.5em 1.5em;
    justify-content: center;
    font-size: 30px;
}
.Servicios ul{
    display: flex;
    justify-content: space-between;

}
.Cartaserv li img{
    width: 60px;
    justify-content: center;
}
.Servicios{
    background-color: rgb(238, 124, 82);
    display: flex;
    align-items: center;
}